body{
    font-family: Roboto;
    margin: 0;
}
/*start header.php*/

/*main navigation of the website*/
#mainNav{
    background-color: black;
    margin: 0;
    height: 46px;
    padding-bottom: 14px;
    font-size: 1.8em;
    /*position: fixed;*/
}

/*links to different pages*/

#mainNav ul{
    list-style: none;
    display: inline;
    height: fit-content;
}
#mainNav li{
    float: right;
}
#mainNav li a{
    display: block;
    color: #F0BE2B;
    text-align: center;
    text-decoration: none;
    margin-right: 35px;
    margin-left: 20px;
    margin-top: 14px;
}
#mainNav li a:hover{
    color: white;
}

/*social media links*/

.socialLink{
    float: left;
    margin-left: 15px;
    margin-top: 7px;
}
.socialLink:hover{
    -webkit-filter: brightness(0) invert(1);
}

/*link to index*/

#logo{
    float: left;
    color: #F0BE2B;
    text-decoration: none;
    font-size: 1.6em;
    font-family: Moonlightning;
    margin-left: 15px;
    margin-right: 15px;
}
#logo:hover{
    color: white;
}

/*sign in button*/

#login{
    float: right;
    margin-right: 15px;
    margin-top: 13px;
    text-decoration: none;
    color: #F0BE2B;
    cursor: pointer;
}
#login:hover{
    color: white;
}

/*drop down user menu to logout and change profile information*/

.userMenuBtn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.eventMenuBtn{
    border: none;
    background-color: transparent;
    color: #F0BE2B;
    height: 58px;
    font-size: 1em;
    cursor: pointer;
}
.userMenu{
    float: right;
    position: relative;
    display: inline-block;
    margin: 0;
}
.userMenuContent{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 150px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.userMenuContent a{
    display: block;
    color: #F0BE2B;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.userMenuContent a:hover{
    color: white;
    background-color: #171717;
}
.userMenu:hover .userMenuContent{
    display: block;
}
.userMenu:hover .userMenuBtn{
    -webkit-filter: brightness(0) invert(1);
}
#cartBtn{
    float: right;
    margin-right: 10px;
}
#cartBtn:hover{
    -webkit-filter: brightness(0) invert(1);
}

/* Jazz eventpage */
/*head*/
.container{
    padding-top: 1px;
}
#headerjazz{
    width: 100%;
    height: 30vh;
    background-image: url("../images/JazzHeaderImage.jpg");
    background-size: cover;
}
.titel{
    font-size: 600%;
    font-family: Moonlightning;
    color: white;
    text-align: center;
}
.ondertitel{
    font-family: Roboto;
    color: white;

}
/*middle*/
article{
    width: 100%;
    height: 22vh;
    text-align: left;
    background-size: cover;
}
hr{
    border-top: 3px solid #FFBE00;
    margin-right: 70%;
}
.inleiding{
    height: 15vh;
    background-color: white;
}
#mainhall{
    background-image: url("../images/EventJazzMainHal.png");
}
#secondhall{
    background-image: url("../images/EventJazzSecondHall.png");
}
#thirdhall{
    background-image: url("../images/EventJazzThirdHall.png");
}
#grotemarkt{
    background-image: url("../images/EventJazzGrotenMarkt.png");
}
article p, article h2, article hr{
    margin-left: 3%;
    font-family: Roboto;
}
article p{
    font-size: 90%;
    width: 40%;
}
section p{
    font-size: 100%;
    font-family: Roboto;
    width: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.navigationbuttons{
    height: 15vh;
    background-color: white;
    width: 100%;
    display: flex;
}
#forms{
    display: flex;
    margin: auto;
}
.gototicketpage{
    background-color: #FFBE00;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
    border: none;
    margin-right: 4%;
    margin-top: 2%;
    font-family: Moonlightning;
    font-size: 150%;
    font-weight: bold;
}
.gotoprogrammpage{
    background-color: #FFBE00;
    padding: 15px 40px 15px 40px;
    border-radius: 10px;
    border: none;
    margin-left: 4%;
    margin-top: 2%;
    font-family: Moonlightning;
    font-size: 150%;
    font-weight: bold;
}

/* indexpage */

#indextop{
    background-image: url("../images/indexbackground.png");
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
}
#indexbottom{
    text-align: center;
}
#column{
    margin: auto;
    text-align: center;
}
#moreinfo{
    margin-top: 30px;
}
#indexintro{
    height: 20vh;

}
#indexnav{
    height: 15vh;
}
#indexselectionmenu{
    background-color: #666666;
    height: 45vh;
}
.indexintrosplit{
    margin-left: auto;
    margin-right: auto;
    width: 30%;

}
#clickables{
    margin-top: 30px;
    position: relative;
}
h3{
    color: white;
    font-size: 350%;
    font-family: Roboto;
}
.eventchose{
    margin-right: 30px;
}
#jazztext, #dancetext, #historictext, #foodtext{
    position: absolute;
    color: white;
    z-index: 2;
    font-family: Roboto;
    font-size: 150%;
    bottom: 48%;
}
#jazztext{
    left: 24%;
}
#dancetext{
    left: 39%;
}
#historictext{
    right: 40%;
}
#foodtext{
    right: 26%;
}
#clickables img:hover{
    transform: scale(1.1,1.1);
}
#moreinfo:hover{
    transform: scale(1.1,1.1);
}



/*drop down event menu*/

.eventMenuBtn{
    border: none;
    background-color: transparent;
    color: #F0BE2B;
    height: 58px;
    font-size: 1em;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 15px;
}
.eventMenu{
    float: right;
    position: relative;
    display: inline-block;
    margin: 0;
}
.eventMenuContent{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 150px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
.eventMenuContent a{
    display: block;
    color: #F0BE2B;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.eventMenuContent a:hover{
    color: white;
    background-color: #171717;
}
.eventMenu:hover .eventMenuContent{
    display: block;
}
.eventMenu:hover .eventMenuBtn{
    color: white;
}

/*program page start*/

.program{
    width: 100%;
    margin: auto;
    text-align: center;
}

.programTable{
    margin-left: 25px;
    margin-right: 25px;
    display: inline;
    padding: 0;
    text-align: center;
    border-spacing: 0;
    font-size: 1.5em;
}
.programTable, th, td{
    width: 400px;
}
.programTable th{
    background-color: #F0BE2B;
    padding: 15px;
    font-family: Moonlightning;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}
.programTable td{
    padding: 10px;
}
.programTable tr:nth-child(even){
    background-color: darkgrey;
}
.programTable tr:nth-child(odd){
    background-color: lightgray;
}
.programTable a{
    text-decoration: none;
    color: black;
}
.programTable a:hover{
    color: white;
}

/*program page end*/

/*close header.php*/

/*start shared css*/

.headerEvent
{
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}
.headerEvent img
{
    width: 100%;
}
.headerEvent h1
{
    font-family: Moonlightning;
    font-size: 60pt;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*close shared css*/

/*start ticketpage*/

.navigationTickets
{
    position: relative;
    display: table;
    margin: auto;
    margin-top: 30px;
}
.navigationTickets ul
{
    margin: 10px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
.navigationTickets li
{
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}
.navigationTickets li a
{
    position: relative;
    display: block;
}
.navigationTickets p
{
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25pt;
    font-family: Moonlightning;
}

/*start program nav*/

.navigationProgram
{
    position: relative;
    display: table;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.navigationProgram ul
{
    margin: 10px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
.navigationProgram li
{
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}
.navigationProgram li a
{
    position: relative;
    display: block;
    background-color: #F0BE2B;
    font-family: Moonlightning;
    font-size: 2em;
    color: black;
    padding: 15px;
    width: 150px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.navigationProgram li a:hover
{
    color: white;
}

/*start tickets*/

.ticketcontainer
{
    position: relative;
    height: 300px;
    width: 200px;
    margin: 10px;
    padding: 0;

}
.block
{
    display: block;
    background-color: black;
    opacity: 0.6;
    width: 180px;
    height: 280px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.ticketcontainer2
{
    text-align: center;
    color: white;
    position: relative;
    height: 120px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;

}
.block2
{
    display: block;
    background-color: black;
    opacity: 0.6;
    width: 480px;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.ticketImg
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}
.ticketForm{
    color: white;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ticketForm input[type=submit]
{
    border: none;
    text-decoration: none;
    background-color: #FFBE00;
    font-family: Moonlightning;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}
.ticketForm input[type=text]
{
    border: none;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
.tickets{
    margin: auto;
}
.day
{
    margin: 0 auto;
    width: 20%;
    font-family: Moonlightning;
    font-size: 30pt;

}
.day h1
{
    text-align: center;
    border-bottom: 3px solid #FFBE00;
    padding-bottom: 5px;
}

/*close tickets*/

/*close ticketpage*/

/*start standard form*/
.standardFormWrapper{
    display: block;
    background-color: lightgray;
    width: 35%;
    border-radius: 10px;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
}
.standardForm{
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
}
.standardForm input[type=submit]{
    border: none;
    text-decoration: none;
    font-size: 1.2em;
    background-color: #FFBE00;
    font-family: Moonlightning;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
}
.standardForm input[type=text]{
    border: none;
    margin-bottom: 5px;
    margin-top: 2px;
    padding: 3px;
    border-radius: 3px;
    width: 48%;
}
.formMessage {
    float: right;
}
.formMessage input[type=text]{
    height: 120px;
}